@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "招标管理台账--物资";
}
<style>
    td {
        text-align: center;
    }
</style>
<span id="userRoleEdit" class="hidden">
    @ViewBag.editRole
</span>
@Html.Partial("_PartialModalEdit")
@Html.Partial("ImportModal")
<div class="box box-danger">
    <div class="box-header">
        <h3 class="box-title">招标管理台账--@ViewBag.type</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        <div class="container-fluid">
            <div class="form-horizontal">
                <form id="EditAccountForm" method="post" enctype="multipart/form-data">
                    <input id="tbxAccountIDEdit" name="tbxAccountIDEdit" type="text" class="hidden" value="@ViewBag.id" />
                    <input id="tbxAccountTypeEdit" name="tbxAccountTypeEdit" type="text" class="hidden" value="@ViewBag.type" />
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="tbxProjectNameEdit">项目名称</label>
                                <input id="tbxProjectNameEdit" name="tbxProjectNameEdit" class="form-control input-sm" placeholder="项目名称" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="tbxTenderFileNumEdit">项目文件编号</label>
                                <input id="tbxTenderFileNumEdit" name="tbxTenderFileNumEdit" class="form-control input-sm" placeholder="项目文件编号" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="ddlIsOnlineEdit">线上/线下</label>
                                <select id="ddlIsOnlineEdit" name="ddlIsOnlineEdit" class="form-control input-sm">
                                    <option value="线上" selected>线上</option>
                                    <option value="线下">线下</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="tbxProjectResponsiblePersonEdit">招标项目负责人</label>
                                <input id="tbxProjectResponsiblePersonEdit" name="tbxProjectResponsiblePersonEdit" class="form-control input-sm" placeholder="项目文件编号" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        @*<div class="col-md-3">
                                <div class="form-group">
                                    <label for="ddlUsingDeptEdit">使用单位</label>
                                    <select id="ddlUsingDeptEdit" name="ddlUsingDeptEdit" class="form-control input-sm DeptSelect"></select>
                                </div>
                            </div>*@
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="ddlProjectResponsibleDeptEdit">项目主责部门</label>
                                <select id="ddlProjectResponsibleDeptEdit" name="ddlProjectResponsibleDeptEdit" class="form-control input-sm DeptSelect"></select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="tbxApplyPersonEdit">申请人</label>
                                <input id="tbxApplyPersonEdit" name="tbxApplyPersonEdit" class="form-control input-sm" placeholder="申请人" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="tbxInvestPlanApproveNumEdit">投资计划批复文号</label>
                                <input id="tbxInvestPlanApproveNumEdit" name="tbxInvestPlanApproveNumEdit" class="form-control input-sm" placeholder="投资计划批复文号" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="ddlTenderModeEdit">招标方式</label>
                                <select id="ddlTenderModeEdit" name="ddlTenderModeEdit" class="form-control input-sm">
                                    <option value="公开招标" selected>公开招标</option>
                                    <option value="邀请招标">邀请招标</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="ddlBidEvaluationEdit">评标方法</label>
                                <select id="ddlBidEvaluationEdit" name="ddlBidEvaluationEdit" class="form-control input-sm">
                                    <option value="综合评估法" selected>综合评估法</option>
                                    <option value="最低价法">最低价法</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="ddlQualificationExamMethod">资格审查方式</label>
                                <select id="ddlQualificationExamMethod" name="ddlQualificationExamMethod" class="form-control input-sm">
                                    <option value="资格后审" selected="selected">资格后审</option>
                                    <option value="资格预审">资格预审</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="tbxTenderProgramAuditDateEdit">招标方案联审时间</label>
                                <input id="tbxTenderProgramAuditDateEdit" name="tbxTenderProgramAuditDateEdit" class="form-control input-sm accountDate" placeholder="招标方案联审时间" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="tbxProgramAcceptDateEdit">收到方案日期</label>
                                <input id="tbxProgramAcceptDateEdit" name="tbxProgramAcceptDateEdit" class="form-control input-sm accountDate" placeholder="收到方案日期" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="tbxTenderFileSaleStartDateEdit">发售招标文件开始日期</label>
                                <input id="tbxTenderFileSaleStartDateEdit" name="tbxTenderFileSaleStartDateEdit" class="form-control input-sm accountDateTime" placeholder="发售招标文件开始日期" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="tbxTenderFileSaleEndDateEdit">发售招标文件截止日期</label>
                                <input id="tbxTenderFileSaleEndDateEdit" name="tbxTenderFileSaleEndDateEdit" class="form-control input-sm accountDateTime" placeholder="发售招标文件截止日期" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="tbxTenderStartDateEdit">开标日期</label>
                                <input id="tbxTenderStartDateEdit" name="tbxTenderStartDateEdit" class="form-control input-sm accountDateTime" placeholder="开标日期" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="tbxTenderSuccessFileDateEdit">中标通知书发出时间</label>
                                <input id="tbxTenderSuccessFileDateEdit" name="tbxTenderSuccessFileDateEdit" class="form-control input-sm accountDateTime" placeholder="中标通知书发出时间" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="ddlTenderInfoEdit">招标情况</label>
                                <select id="ddlTenderInfoEdit" name="ddlTenderInfoEdit" class="form-control input-sm">
                                    <option value="一次成功">一次成功</option>
                                    <option value="一次失败">一次失败</option>
                                    <option value="一次失败转谈判">一次失败转谈判</option>
                                    <option value="二次成功">二次成功</option>
                                    <option value="二次失败">二次失败</option>
                                    <option value="二次失败转谈判">二次失败转谈判</option>
                                    <option value="三次成功">三次成功</option>
                                    <option value="三次失败">三次失败</option>
                                    <option value="三次失败转谈判">三次失败转谈判</option>
                                    <option value="四次成功">四次成功</option>
                                    <option value="四次失败">四次失败</option>
                                    <option value="四次失败转谈判">四次失败转谈判</option>
                                    <option value="终止">终止</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="tbxTenderRangeEdit">招标范围</label>
                                <textarea id="tbxTenderRangeEdit" name="tbxTenderRangeEdit" class="form-control" rows="4"></textarea>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="tbxSupplyPeriodEdit">供货期</label>
                                <textarea id="tbxSupplyPeriodEdit" name="tbxSupplyPeriodEdit" class="form-control" rows="4"></textarea>
                            </div>
                        </div>
                    </div>
                    @*使用单位*@
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            使用单位名称
                            <button id="btnDeptAdd" type="button" class="btn btn-success btn-sm">新增</button>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table table-bordered table-condensed table-hover">
                                        <thead>
                                            <tr>
                                                <th class="text-center" style="vertical-align:middle">操作</th>
                                                <th class="text-center" style="vertical-align:middle">使用单位名称</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tableDept"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*项目前期沟通记录*@
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            项目前期沟通记录
                            <button id="btnConnectAdd" type="button" class="btn btn-success btn-sm">新增</button>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table table-bordered table-condensed table-hover">
                                        <thead>
                                            <tr>
                                                <th class="text-center" style="vertical-align:middle">操作</th>
                                                <th class="text-center" style="vertical-align:middle">对接人</th>
                                                <th class="text-center" style="vertical-align:middle">对接时间</th>
                                                <th class="text-center" style="vertical-align:middle">对接内容</th>
                                                <th class="text-center" style="vertical-align:middle">存在问题</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tableConnect"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*投标人信息*@
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            投标人信息
                            <button id="btnFirstAdd" type="button" class="btn btn-success btn-sm">新增</button>
                            <button id="btnFirstImport" type="button" data-type="FirstMaterial" class="btn btn-info btn-sm InfoImport">批量导入</button>
                            <button id="btnFirstRemove" type="button" data-type="FirstMaterial" class="btn bg-olive btn-sm InfoRemove">清空</button>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table table-bordered table-condensed table-hover">
                                        <thead>
                                            <tr>
                                                <th rowspan="2" class="text-center" style="vertical-align:middle">操作</th>
                                                <th rowspan="2" class="text-center" style="vertical-align:middle">购买招标文件潜在投标人</th>
                                                <th rowspan="2" class="text-center" style="vertical-align:middle">投标人</th>
                                                <th rowspan="2" class="text-center" style="vertical-align:middle">产品制造商（代理、贸易商投标时填写）</th>
                                                <th colspan="2" rowspan="1" class="text-center">报价</th>
                                                <th rowspan="2" class="text-center" style="vertical-align:middle">初步评审是否被否决</th>
                                                <th rowspan="2" class="text-center" style="vertical-align:middle">否决原因</th>
                                                <th rowspan="2" class="text-center" style="vertical-align:middle">评标复议版本</th>
                                            </tr>
                                            <tr>
                                                <th class="text-center">单价（元）</th>
                                                <th class="text-center">总价（万元）</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tableFirst"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*中标人信息*@
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            中标人信息
                            <button id="btnTenderSuccessAdd" type="button" class="btn btn-success btn-sm">新增</button>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table table-bordered table-condensed table-hover">
                                        <thead>
                                            <tr>
                                                <th class="text-center">编辑</th>
                                                <th class="text-center">中标人名称</th>
                                                <th class="text-center">中标候选人公示开始时间</th>
                                                <th class="text-center">中标候选人公示结束时间</th>
                                                <th class="text-center">评标复议版本</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tableTenderSuccess"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="tbxTenderSuccessPersonEdit">中标人名称</label>
                                <input id="tbxTenderSuccessPersonEdit" name="tbxTenderSuccessPersonEdit" class="form-control input-sm" placeholder="中标人名称" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="tbxPlanInvestPriceEdit">预计投资（万元）</label>
                                <input id="tbxPlanInvestPriceEdit" name="tbxPlanInvestPriceEdit" class="form-control input-sm" placeholder="预计投资（招标控制总价）（元）" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="tbxTenderRestrictUnitPriceEdit">招标控制价--单价（元）</label>
                                <input id="tbxTenderRestrictUnitPriceEdit" name="tbxTenderRestrictUnitPriceEdit" class="form-control input-sm" placeholder="招标控制单价" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="tbxTenderRestrictSumPriceEdit">招标控制价--总价（万元）</label>
                                <input id="tbxTenderRestrictSumPriceEdit" name="tbxTenderRestrictSumPriceEdit" class="form-control input-sm" placeholder="招标控制价--总价（万元）" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="tbxTenderSuccessUnitPriceEdit">中标金额--单价（元）</label>
                                <input id="tbxTenderSuccessUnitPriceEdit" name="tbxTenderSuccessUnitPriceEdit" class="form-control input-sm" placeholder="中标金额--单价" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="tbxTenderSuccessSumPriceEdit">中标金额--总价（万元）</label>
                                <input id="tbxTenderSuccessSumPriceEdit" name="tbxTenderSuccessSumPriceEdit" class="form-control input-sm" placeholder="中标金额--总价（万元）" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="tbxSaveCapitalEdit">与控制价比节约资金（万元）</label>
                                <input id="tbxSaveCapitalEdit" name="tbxSaveCapitalEdit" class="form-control input-sm" placeholder="与控制价比节约资金（万元）" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <img src="~/Content/控制价公式.PNG" class="pull-right" />
                        </div>
                    </div>
                    @*评标委员会*@
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            评标委员会
                            <button id="btnSecondAdd" type="button" class="btn btn-success btn-sm">新增</button>
                            <button id="btnSecondImport" type="button" class="btn btn-info btn-sm EvaluationImport">批量导入</button>
                            <button id="btnSecondRemove" type="button" class="btn bg-olive btn-sm EvaluationRemove">清空</button>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table table-bordered table-condensed table-hover">
                                        <thead>
                                            <tr>
                                                <th colspan="7" class="text-center">评标委员会</th>
                                            </tr>
                                            <tr>
                                                <th class="text-center">操作</th>
                                                <th class="text-center">姓名</th>
                                                <th class="text-center">单位</th>
                                                <th class="text-center">是否评标委员会主任</th>
                                                <th class="text-center">评审时间（小时）</th>
                                                <th class="text-center">评审费</th>
                                                <th class="text-center">评标复议版本</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tableSecond"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*招标文件联审*@
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            招标文件联审
                            <button id="btnThirdAdd" type="button" class="btn btn-success btn-sm">新增</button>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="tbxTenderFileAuditTimeEdit">联审时间（小时）</label>
                                        <input id="tbxTenderFileAuditTimeEdit" name="tbxTenderFileAuditTimeEdit" class="form-control input-sm" placeholder="联审时间（小时）" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table table-bordered table-condensed table-hover">
                                        <thead>
                                            <tr>
                                                <th colspan="4" class="text-center">招标文件联审</th>
                                            </tr>
                                            <tr>
                                                <th class="text-center">操作</th>
                                                <th class="text-center">姓名</th>
                                                <th class="text-center">单位</th>
                                                <th class="text-center">费用</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tableThird"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="tbxTenderFailReasonEdit">招标失败原因</label>
                                <textarea id="tbxTenderFailReasonEdit" name="tbxTenderFailReasonEdit" class="form-control" rows="3"></textarea>
                            </div>
                        </div>
                    </div>
                    @*澄清（修改）*@
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            澄清（修改）
                            <button id="btnFourAdd" type="button" class="btn btn-success btn-sm">新增</button>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table table-bordered table-condensed table-hover">
                                        <thead>
                                            <tr>
                                                <th colspan="10" class="text-center">澄清（修改）</th>
                                            </tr>
                                            <tr>
                                                <th class="text-center">操作</th>
                                                <th class="text-center">提起人</th>
                                                <th class="text-center">提出时间</th>
                                                <th class="text-center">事由</th>
                                                <th class="text-center">受理时间</th>
                                                <th class="text-center">处理人</th>
                                                <th class="text-center">澄清/修改</th>
                                                <th class="text-center">附件</th>
                                                <th class="text-center">处理情况</th>
                                                <th class="text-center">答复时间</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tableFour"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*异议处理*@
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            异议处理
                            <button id="btnFiveAdd" type="button" class="btn btn-success btn-sm">新增</button>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table table-bordered table-condensed table-hover">
                                        <thead>
                                            <tr>
                                                <th colspan="11" class="text-center">异议处理</th>
                                            </tr>
                                            <tr>
                                                <th class="text-center">操作</th>
                                                <th class="text-center">提起人</th>
                                                <th class="text-center">联系方式</th>
                                                <th class="text-center">异议时间</th>
                                                <th class="text-center">事由</th>
                                                <th class="text-center">受理时间</th>
                                                <th class="text-center">受理人</th>
                                                <th class="text-center">处理人</th>
                                                <th class="text-center">处理情况</th>
                                                <th class="text-center">答复时间</th>
                                                <th class="text-center">附件</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tableFive"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        @*<div class="col-md-3">
                                <div class="form-group">
                                    <label for="tbxContractNumEdit">合同编号</label>
                                    <input id="tbxContractNumEdit" name="tbxContractNumEdit" class="form-control input-sm" placeholder="合同编号" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="tbxContractPriceEdit">合同金额</label>
                                    <input id="tbxContractPriceEdit" name="tbxContractPriceEdit" class="form-control input-sm" placeholder="合同金额" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="tbxRelativePersonEdit">相对人名称</label>
                                    <input id="tbxRelativePersonEdit" name="tbxRelativePersonEdit" class="form-control input-sm" placeholder="相对人名称" />
                                </div>
                            </div>*@
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="tbxTenderRemarkEdit">备注</label>
                                <textarea id="tbxTenderRemarkEdit" name="tbxTenderRemarkEdit" class="form-control" rows="3"></textarea>
                            </div>
                        </div>
                        <button type="button" id="btnSave" class="btn btn-info">
                            <i class="glyphicon glyphicon-floppy-saved"></i> 保存
                        </button>
                        <button type="button" id="btnSubmit" class="btn btn-primary">
                            <i class="glyphicon glyphicon-ok"></i> 提交
                        </button>
                        <button type="button" id="btnInsertVersion" class="btn btn-warning">
                            <i class="glyphicon glyphicon-erase"></i> 评标复议
                        </button>
                        <button type="button" id="btnReturn" class="btn bg-black">
                            <i class="glyphicon glyphicon-share-alt"></i> 返回
                        </button>
                        @if (User.IsInRole("新建招标台账"))
                        {
                            <button type="button" id="btnDel" class="btn btn-danger">
                                <i class="glyphicon glyphicon-remove"></i> 删除
                            </button>
                        }
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    //批量导入后，为了能正确返回数据，应放在页面加载之前
    function GetFirstTable() {
        var accountID = $("#tbxAccountIDEdit").val();
        $.post("/Account/GetListEdit", { "accountID": accountID, "type": "first" }, function (result) {
            var list = "";
            $.each(result, function (indexInArray, valueOfElement) {
                list += "<tr>";
                if ($("#userRoleEdit").text().trim() !== "yes") {
                    list += "<td></td>";
                }
                else {
                    list += "<td><a href='javascript:void(0)' class='btnFirstEdit' data-uid='" + valueOfElement["AccountChildID"] + "'><i class='glyphicon glyphicon-pencil'></i></a>";
                    list += "&nbsp;&nbsp;&nbsp;&nbsp;<a href='javascript:void(0)' class='btnFirstDel' data-uid='" + valueOfElement["AccountChildID"] + "'><i class='glyphicon glyphicon-remove'></i></a></td>";
                }
                var reason = valueOfElement["VetoReason"] === null ? "" : valueOfElement["VetoReason"];
                list += "<td>" + valueOfElement["TenderFilePlanPayPerson"] + "</td>";
                list += "<td>" + valueOfElement["TenderPerson"] + "</td>";
                list += "<td>" + valueOfElement["ProductManufacturer"] + "</td>";
                list += "<td>" + valueOfElement["QuotedPriceUnit"] + "</td>";
                list += "<td>" + valueOfElement["QuotedPriceSum"] + "</td>";
                list += "<td>" + valueOfElement["NegationExplain"] + "</td>";
                list += "<td>" + reason + "</td>";
                list += "<td>" + valueOfElement["TenderPersonVersion"] + "</td>";
                list += "</tr>";
            });
            $("#tableFirst").empty().append(list);
        });
    }
    function GetSecondTable() {
        var accountID = $("#tbxAccountIDEdit").val();
        $.post("/Account/GetListEdit", { "accountID": accountID, "type": "second" }, function (result) {
            var list = "";
            $.each(result, function (indexInArray, valueOfElement) {
                list += "<tr>";
                if ($("#userRoleEdit").text().trim() !== "yes") {
                    list += "<td></td>";
                }
                else {
                    list += "<td><a href='javascript:void(0)' class='btnSecondEdit' data-uid='" + valueOfElement["AccountChildID"] + "'><i class='glyphicon glyphicon-pencil'></i></a>";
                    list += "&nbsp;&nbsp;&nbsp;&nbsp;<a href='javascript:void(0)' class='btnSecondDel' data-uid='" + valueOfElement["AccountChildID"] + "'><i class='glyphicon glyphicon-remove'></i></a></td>";
                }
                list += "<td>" + valueOfElement["EvaluationPersonName"] + "</td>";
                list += "<td>" + valueOfElement["EvaluationPersonDeptName"] + "</td>";
                list += "<td>" + valueOfElement["IsEvaluationDirector"] + "</td>";
                list += "<td>" + valueOfElement["EvaluationTime"] + "</td>";
                list += "<td>" + valueOfElement["EvaluationCost"] + "</td>";
                list += "<td>" + valueOfElement["EvaluationVersion"] + "</td>";
                list += "</tr>";
            });
            $("#tableSecond").empty().append(list);
        });
    }

    $(function () {
        $(".accountDate").datetimepicker({
            language: 'zh-CN',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0,
            format: 'yyyy-mm-dd'
        });
        $(".accountDateTime").datetimepicker({
            language: 'zh-CN',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: true,
            minView: 0,
            forceParse: 0,
            format: 'yyyy-mm-dd hh:ii'
        });

        GetDeptForSelect();
        function GetDeptForSelect() {
            var list = "";
            $.post("/Account/GetDeptForSelect", "", function (result) {
                $.each(result, function (indexInArray, valueOfElement) {
                    list += "<option value='" + valueOfElement.DeptID + "'>" + valueOfElement.DeptName + "</option>";
                });
                $(".DeptSelect").empty().append(list);
            });
        }

        function ClearInfo() {
            $("#FirstModal input").val("");
            $("#FirstModal textarea").val("");
            $("#SecondModal input").val("");
            $("#ThirdModal input").val("");
            $("#FourModal input").val("");
            $("#FourModal textarea").val("");
            $("#FiveModal input").val("");
            $("#FiveModal textarea").val("");
            $("#ConnectModal input,#ConnectModal textarea").val("");
            $("#DeptModal input").val("");
            $("#TenderSuccessModal input").val("");
        }

        GetInfo();

        GetFirstTable();
        GetSecondTable();
        GetThirdTable();
        GetFourTable();
        GetFiveTable();
        GetConnectTable();
        GetDeptTable();
        GetTenderSuccessTable();

        SetBtnState();
        function SetBtnState() {
            if ($("#userRoleEdit").text().trim() !== "yes") {
                $("#btnFirstImport,#btnFirstRemove,#btnSecondImport,#btnSecondRemove,#btnFirstAdd,#btnSecondAdd,#btnThirdAdd,#btnFourAdd,#btnFiveAdd").hide();
                $("#btnDeptAdd,#btnConnectAdd").hide();
                $("#btnSubmit,#btnSave").hide();
            }
        }

        //子表新增按钮
        $("#btnFirstAdd").click(function () {
            ClearInfo();
            $("#tbxAccountFirstID").val($("#tbxAccountIDEdit").val());
            $('#FirstModal').modal('show');
        });
        $("#btnSecondAdd").click(function () {
            ClearInfo();
            $("#tbxAccountSecondID").val($("#tbxAccountIDEdit").val());
            $('#SecondModal').modal('show');
        });
        $("#btnThirdAdd").click(function () {
            ClearInfo();
            $("#tbxAccountThirdID").val($("#tbxAccountIDEdit").val());
            $('#ThirdModal').modal('show');
        });
        $("#btnFourAdd").click(function () {
            ClearInfo();
            $("#tbxAccountFourID").val($("#tbxAccountIDEdit").val());
            $("#lblClarifyFile").text("").attr("href", "");
            $('#FourModal').modal('show');
        });
        $("#btnFiveAdd").click(function () {
            ClearInfo();
            $("#tbxAccountFiveID").val($("#tbxAccountIDEdit").val());
            $("#lblDissentFile").text("").attr("href", "");
            $('#FiveModal').modal('show');
        });
        $("#btnConnectAdd").click(function () {
            ClearInfo();
            $("#tbxAccountConnectID").val($("#tbxAccountIDEdit").val());
            $('#ConnectModal').modal('show');
        });
        $("#btnDeptAdd").click(function () {
            ClearInfo();
            $("#tbxAccountDeptID").val($("#tbxAccountIDEdit").val());
            $('#DeptModal').modal('show');
        });
        $("#btnTenderSuccessAdd").click(function () {
            ClearInfo();
            $("#tbxAccountTenderSuccessID").val($("#tbxAccountIDEdit").val());
            $('#TenderSuccessModal').modal('show');
        });

        //First提交
        $("#btnFirstSubmit").click(function () {
            Ewin.confirm({ message: "确定要提交吗？" }).on(function (e) {
                if (!e) {
                    return;
                }
                else {
                    if ($("#tbxAccountChildFirstID").val() !== "") {
                        //update
                        $("#FirstForm").ajaxSubmit({
                            url: "/Account/UpdateFirst",
                            type: "post",
                            success: function (result) {
                                if (result === "ok") {
                                    $("#FirstModal").modal("hide");
                                    toastr.success("操作成功！", "提示");
                                    GetFirstTable();
                                }
                            },
                            error: function (error) {
                                console.log(error);
                                toastr.error(error, "提示");
                                return;
                            }
                        });
                    }
                    else {
                        //insert
                        $("#FirstForm").ajaxSubmit({
                            url: "/Account/InsertFirst",
                            type: "post",
                            success: function (result) {
                                if (result === "ok") {
                                    $("#FirstModal").modal("hide");
                                    toastr.success("操作成功！", "提示");
                                    GetFirstTable();
                                }
                            },
                            error: function (error) {
                                console.log(error);
                                toastr.error(error, "提示");
                                return;
                            }
                        });
                    }
                }
            });
        });

        //Second提交
        $("#btnSecondSubmit").click(function () {
            Ewin.confirm({ message: "确定要提交吗？" }).on(function (e) {
                if (!e) {
                    return;
                }
                else {
                    if ($("#tbxAccountChildSecondID").val() !== "") {
                        //update
                        $("#SecondForm").ajaxSubmit({
                            url: "/Account/UpdateSecond",
                            type: "post",
                            success: function (result) {
                                if (result === "ok") {
                                    $("#SecondModal").modal("hide");
                                    toastr.success("操作成功！", "提示");
                                    GetSecondTable();
                                }
                            },
                            error: function (error) {
                                console.log(error);
                                toastr.error(error, "提示");
                                return;
                            }
                        });
                    }
                    else {
                        //insert
                        $("#SecondForm").ajaxSubmit({
                            url: "/Account/InsertSecond",
                            type: "post",
                            success: function (result) {
                                if (result === "ok") {
                                    $("#SecondModal").modal("hide");
                                    toastr.success("操作成功！", "提示");
                                    GetSecondTable();
                                }
                            },
                            error: function (error) {
                                console.log(error);
                                toastr.error(error, "提示");
                                return;
                            }
                        });
                    }
                }
            });
        });

        //Third提交
        $("#btnThirdSubmit").click(function () {
            Ewin.confirm({ message: "确定要提交吗？" }).on(function (e) {
                if (!e) {
                    return;
                }
                else {
                    if ($("#tbxAccountChildThirdID").val() !== "") {
                        //update
                        $("#ThirdForm").ajaxSubmit({
                            url: "/Account/UpdateThird",
                            type: "post",
                            success: function (result) {
                                if (result === "ok") {
                                    $("#ThirdModal").modal("hide");
                                    toastr.success("操作成功！", "提示");
                                    GetThirdTable();
                                }
                            },
                            error: function (error) {
                                console.log(error);
                                toastr.error(error, "提示");
                                return;
                            }
                        });
                    }
                    else {
                        //insert
                        $("#ThirdForm").ajaxSubmit({
                            url: "/Account/InsertThird",
                            type: "post",
                            success: function (result) {
                                if (result === "ok") {
                                    $("#ThirdModal").modal("hide");
                                    toastr.success("操作成功！", "提示");
                                    GetThirdTable();
                                }
                            },
                            error: function (error) {
                                console.log(error);
                                toastr.error(error, "提示");
                                return;
                            }
                        });
                    }
                }
            });
        });

        //Four提交
        $("#btnFourSubmit").click(function () {
            Ewin.confirm({ message: "确定要提交吗？" }).on(function (e) {
                if (!e) {
                    return;
                }
                else {
                    if ($("#tbxAccountChildFourID").val() !== "") {
                        //update
                        $("#FourForm").ajaxSubmit({
                            url: "/Account/UpdateFour",
                            type: "post",
                            success: function (result) {
                                if (result === "ok") {
                                    $("#FourModal").modal("hide");
                                    toastr.success("操作成功！", "提示");
                                    GetFourTable();
                                }
                            },
                            error: function (error) {
                                console.log(error);
                                toastr.error(error, "提示");
                                return;
                            }
                        });
                    }
                    else {
                        //insert
                        $("#FourForm").ajaxSubmit({
                            url: "/Account/InsertFour",
                            type: "post",
                            success: function (result) {
                                if (result === "ok") {
                                    $("#FourModal").modal("hide");
                                    toastr.success("操作成功！", "提示");
                                    GetFourTable();
                                }
                            },
                            error: function (error) {
                                console.log(error);
                                toastr.error(error, "提示");
                                return;
                            }
                        });
                    }
                }
            });
        });

        //Five提交
        $("#btnFiveSubmit").click(function () {
            Ewin.confirm({ message: "确定要提交吗？" }).on(function (e) {
                if (!e) {
                    return;
                }
                else {
                    if ($("#tbxAccountChildFiveID").val() !== "") {
                        //update
                        $("#FiveForm").ajaxSubmit({
                            url: "/Account/UpdateFive",
                            type: "post",
                            success: function (result) {
                                if (result === "ok") {
                                    $("#FiveModal").modal("hide");
                                    toastr.success("操作成功！", "提示");
                                    GetFiveTable();
                                }
                            },
                            error: function (error) {
                                console.log(error);
                                toastr.error(error, "提示");
                                return;
                            }
                        });
                    }
                    else {
                        //insert
                        $("#FiveForm").ajaxSubmit({
                            url: "/Account/InsertFive",
                            type: "post",
                            success: function (result) {
                                if (result === "ok") {
                                    $("#FiveModal").modal("hide");
                                    toastr.success("操作成功！", "提示");
                                    GetFiveTable();
                                }
                            },
                            error: function (error) {
                                console.log(error);
                                toastr.error(error, "提示");
                                return;
                            }
                        });
                    }
                }
            });
        });

        //Connect提交
        $("#btnConnectSubmit").click(function () {
            Ewin.confirm({ message: "确定要提交吗？" }).on(function (e) {
                if (!e) {
                    return;
                }
                else {
                    if ($("#tbxAccountChildConnectID").val() !== "") {
                        //update
                        $("#ConnectForm").ajaxSubmit({
                            url: "/Account/UpdateConnect",
                            type: "post",
                            success: function (result) {
                                if (result === "ok") {
                                    $("#ConnectModal").modal("hide");
                                    toastr.success("操作成功！", "提示");
                                    GetConnectTable();
                                }
                            },
                            error: function (error) {
                                console.log(error);
                                toastr.error(error, "提示");
                                return;
                            }
                        });
                    }
                    else {
                        //insert
                        $("#ConnectForm").ajaxSubmit({
                            url: "/Account/InsertConnect",
                            type: "post",
                            success: function (result) {
                                if (result === "ok") {
                                    $("#ConnectModal").modal("hide");
                                    toastr.success("操作成功！", "提示");
                                    GetConnectTable();
                                }
                            },
                            error: function (error) {
                                console.log(error);
                                toastr.error(error, "提示");
                                return;
                            }
                        });
                    }
                }
            });
        });

        //Dept提交
        $("#btnDeptSubmit").click(function () {
            Ewin.confirm({ message: "确定要提交吗？" }).on(function (e) {
                if (!e) {
                    return;
                }
                else {
                    if ($("#tbxAccountChildDeptID").val() !== "") {
                        //update
                        $("#DeptForm").ajaxSubmit({
                            url: "/Account/UpdateDept",
                            type: "post",
                            success: function (result) {
                                if (result === "ok") {
                                    $("#DeptModal").modal("hide");
                                    toastr.success("操作成功！", "提示");
                                    GetDeptTable();
                                }
                            },
                            error: function (error) {
                                console.log(error);
                                toastr.error(error, "提示");
                                return;
                            }
                        });
                    }
                    else {
                        //insert
                        $("#DeptForm").ajaxSubmit({
                            url: "/Account/InsertDept",
                            type: "post",
                            success: function (result) {
                                if (result === "ok") {
                                    $("#DeptModal").modal("hide");
                                    toastr.success("操作成功！", "提示");
                                    GetDeptTable();
                                }
                            },
                            error: function (error) {
                                console.log(error);
                                toastr.error(error, "提示");
                                return;
                            }
                        });
                    }
                }
            });
        });

        //中标人信息提交
        $("#btnTenderSuccessSubmit").click(function () {
            Ewin.confirm({ message: "确定要提交吗？" }).on(function (e) {
                if (!e) {
                    return;
                }
                else {
                    if ($("#tbxAccountChildTenderSuccessID").val() !== "") {
                        //update
                        $("#TenderSuccessForm").ajaxSubmit({
                            url: "/Account/UpdateTenderSuccess",
                            type: "post",
                            success: function (result) {
                                if (result === "ok") {
                                    $("#TenderSuccessModal").modal("hide");
                                    toastr.success("操作成功！", "提示");
                                    GetTenderSuccessTable();
                                }
                            },
                            error: function (error) {
                                console.log(error);
                                toastr.error(error, "提示");
                                return;
                            }
                        });
                    }
                    else {
                        //insert
                        $("#TenderSuccessForm").ajaxSubmit({
                            url: "/Account/InsertTenderSuccess",
                            type: "post",
                            success: function (result) {
                                if (result === "ok") {
                                    $("#TenderSuccessModal").modal("hide");
                                    toastr.success("操作成功！", "提示");
                                    GetTenderSuccessTable();
                                }
                            },
                            error: function (error) {
                                console.log(error);
                                toastr.error(error, "提示");
                                return;
                            }
                        });
                    }
                }
            });
        });

        function GetThirdTable() {
            var accountID = $("#tbxAccountIDEdit").val();
            $.post("/Account/GetListEdit", { "accountID": accountID, "type": "Third" }, function (result) {
                var list = "";
                $.each(result, function (indexInArray, valueOfElement) {
                    list += "<tr>";
                    if ($("#userRoleEdit").text().trim() !== "yes") {
                        list += "<td></td>";
                    }
                    else {
                        list += "<td><a href='javascript:void(0)' class='btnThirdEdit' data-uid='" + valueOfElement["AccountChildID"] + "'><i class='glyphicon glyphicon-pencil'></i></a>";
                        list += "&nbsp;&nbsp;&nbsp;&nbsp;<a href='javascript:void(0)' class='btnThirdDel' data-uid='" + valueOfElement["AccountChildID"] + "'><i class='glyphicon glyphicon-remove'></i></a></td>";
                    }
                    list += "<td>" + valueOfElement["TenderFileAuditPersonName"] + "</td>";
                    list += "<td>" + valueOfElement["TenderFileAuditPersonDeptName"] + "</td>";
                    list += "<td>" + valueOfElement["TenderFileAuditCost"] + "</td>";
                    list += "</tr>";
                });
                $("#tableThird").empty().append(list);
            });
        }

        function GetFourTable() {
            var accountID = $("#tbxAccountIDEdit").val();
            $.post("/Account/GetListEdit", { "accountID": accountID, "type": "Four" }, function (result) {
                var list = "";
                $.each(result, function (indexInArray, valueOfElement) {
                    list += "<tr>";
                    if ($("#userRoleEdit").text().trim() !== "yes") {
                        list += "<td></td>";
                    }
                    else {
                        list += "<td><a href='javascript:void(0)' class='btnFourEdit' data-uid='" + valueOfElement["AccountChildID"] + "'><i class='glyphicon glyphicon-pencil'></i></a>";
                        list += "&nbsp;&nbsp;&nbsp;&nbsp;<a href='javascript:void(0)' class='btnFourDel' data-uid='" + valueOfElement["AccountChildID"] + "'><i class='glyphicon glyphicon-remove'></i></a></td>";
                    }
                    list += "<td>" + valueOfElement["ClarifyLaunchPerson"] + "</td>";
                    list += "<td>" + getJsonDateShort(valueOfElement["ClarifyLaunchDate"]) + "</td>";
                    list += "<td>" + valueOfElement["ClarifyReason"] + "</td>";
                    list += "<td>" + getJsonDateShort(valueOfElement["ClarifyAcceptDate"]) + "</td>";
                    list += "<td>" + valueOfElement["ClarifyDisposePerson"] + "</td>";
                    list += "<td>" + valueOfElement["IsClarify"] + "</td>";
                    list += "<td><a href='../FileUpload/" + valueOfElement["ClarifyFile"] + "'>下载</a></td>";
                    list += "<td>" + valueOfElement["ClarifyDisposeInfo"] + "</td>";
                    list += "<td>" + getJsonDateShort(valueOfElement["ClarifyReplyDate"]) + "</td>";
                    list += "</tr>";
                });
                $("#tableFour").empty().append(list);
            });
        }

        function GetFiveTable() {
            var accountID = $("#tbxAccountIDEdit").val();
            $.post("/Account/GetListEdit", { "accountID": accountID, "type": "Five" }, function (result) {
                var list = "";
                $.each(result, function (indexInArray, valueOfElement) {
                    list += "<tr>";
                    if ($("#userRoleEdit").text().trim() !== "yes") {
                        list += "<td></td>";
                    }
                    else {
                        list += "<td><a href='javascript:void(0)' class='btnFiveEdit' data-uid='" + valueOfElement["AccountChildID"] + "'><i class='glyphicon glyphicon-pencil'></i></a>";
                        list += "&nbsp;&nbsp;&nbsp;&nbsp;<a href='javascript:void(0)' class='btnFiveDel' data-uid='" + valueOfElement["AccountChildID"] + "'><i class='glyphicon glyphicon-remove'></i></a></td>";
                    }
                    list += "<td>" + valueOfElement["DissentLaunchPerson"] + "</td>";
                    list += "<td>" + valueOfElement["DissentLaunchPersonPhone"] + "</td>";
                    list += "<td>" + getJsonDateShort(valueOfElement["DissentLaunchDate"]) + "</td>";
                    list += "<td>" + valueOfElement["DissentReason"] + "</td>";
                    list += "<td>" + getJsonDateShort(valueOfElement["DissentAcceptDate"]) + "</td>";
                    list += "<td>" + valueOfElement["DissentAcceptPerson"] + "</td>";
                    list += "<td>" + valueOfElement["DissentDisposePerson"] + "</td>";
                    list += "<td>" + valueOfElement["DissentDisposeInfo"] + "</td>";
                    list += "<td>" + getJsonDateShort(valueOfElement["DissentReplyDate"]) + "</td>";
                    list += "<td><a href='../FileUpload/" + valueOfElement["DissentFile"] + "'>下载</a></td>";
                    list += "</tr>";
                });
                $("#tableFive").empty().append(list);
            });
        }

        function GetConnectTable() {
            var accountID = $("#tbxAccountIDEdit").val();
            $.post("/Account/GetListEdit", { "accountID": accountID, "type": "Connect" }, function (result) {
                var list = "";
                $.each(result, function (indexInArray, valueOfElement) {
                    list += "<tr>";
                    if ($("#userRoleEdit").text().trim() !== "yes") {
                        list += "<td></td>";
                    }
                    else {
                        list += "<td><a href='javascript:void(0)' class='btnConnectEdit' data-uid='" + valueOfElement["AccountChildID"] + "'><i class='glyphicon glyphicon-pencil'></i></a>";
                        list += "&nbsp;&nbsp;&nbsp;&nbsp;<a href='javascript:void(0)' class='btnConnectDel' data-uid='" + valueOfElement["AccountChildID"] + "'><i class='glyphicon glyphicon-remove'></i></a></td>";
                    }
                    list += "<td>" + valueOfElement["ConnectPerson"] + "</td>";
                    list += "<td>" + getJsonDateShort(valueOfElement["ConnectDateTime"]) + "</td>";
                    list += "<td>" + valueOfElement["ConnectContent"] + "</td>";
                    list += "<td>" + valueOfElement["ConnectExistingProblems"] + "</td>";

                    list += "</tr>";
                });
                $("#tableConnect").empty().append(list);
            });
        }

        function GetDeptTable() {
            var accountID = $("#tbxAccountIDEdit").val();
            $.post("/Account/GetListEdit", { "accountID": accountID, "type": "Dept" }, function (result) {
                var list = "";
                $.each(result, function (indexInArray, valueOfElement) {
                    list += "<tr>";
                    if ($("#userRoleEdit").text().trim() !== "yes") {
                        list += "<td></td>";
                    }
                    else {
                        list += "<td><a href='javascript:void(0)' class='btnDeptEdit' data-uid='" + valueOfElement["AccountChildID"] + "'><i class='glyphicon glyphicon-pencil'></i></a>";
                        list += "&nbsp;&nbsp;&nbsp;&nbsp;<a href='javascript:void(0)' class='btnDeptDel' data-uid='" + valueOfElement["AccountChildID"] + "'><i class='glyphicon glyphicon-remove'></i></a></td>";
                    }
                    list += "<td>" + valueOfElement["UsingDeptName"] + "</td>";
                    list += "</tr>";
                });
                $("#tableDept").empty().append(list);
            });
        }

        function GetTenderSuccessTable() {
            var accountID = $("#tbxAccountIDEdit").val();
            $.post("/Account/GetListEdit", { "accountID": accountID, "type": "TenderSuccess" }, function (result) {
                var list = "";
                $.each(result, function (indexInArray, valueOfElement) {
                    list += "<tr>";
                    if ($("#userRoleEdit").text().trim() !== "yes") {
                        list += "<td></td>";
                    }
                    else {
                        list += "<td><a href='javascript:void(0)' class='btnTenderSuccessEdit' data-uid='" + valueOfElement["AccountChildID"] + "'><i class='glyphicon glyphicon-pencil'></i></a>";
                        list += "&nbsp;&nbsp;&nbsp;&nbsp;<a href='javascript:void(0)' class='btnTenderSuccessDel' data-uid='" + valueOfElement["AccountChildID"] + "'><i class='glyphicon glyphicon-remove'></i></a></td>";
                    }
                    list += "<td>" + valueOfElement["TenderSuccessPerson"] + "</td>";
                    list += "<td>" + getJsonDateShort(valueOfElement["TenderSuccessPersonStartDate"]) + "</td>";
                    list += "<td>" + getJsonDateShort(valueOfElement["TenderSuccessPersonEndDate"]) + "</td>";
                    list += "<td>" + valueOfElement["TenderSuccessPersonVersion"] + "</td>";
                    list += "</tr>";
                });
                $("#tableTenderSuccess").empty().append(list);
            });
        }

        $(document).on("click", ".btnFirstEdit", function () {
            ClearInfo();
            var id = $(this).attr("data-uid");
            $('#FirstModal').modal('show');
            $("#tbxAccountChildFirstID").val(id);
            var args = { "tbxAccountChildID": id };
            $.post("/Account/GetOneEdit", args, function (result) {
                $("#tbxTenderFilePlanPayPersonEdit").val(result.TenderFilePlanPayPerson);
                $("#tbxTenderPersonEdit").val(result.TenderPerson);
                $("#tbxProductManufacturerEdit").val(result.ProductManufacturer);
                $("#tbxQuotedPriceUnitEdit").val(result.QuotedPriceUnit);
                $("#tbxQuotedPriceSumEdit").val(result.QuotedPriceSum);
                $("#ddlNegationExplain").val(result.NegationExplain);
                $("#tbxVetoReasonEdit").val(result.VetoReason);
            });
        });
        $(document).on("click", ".btnFirstDel", function () {
            var id = $(this).attr("data-uid");
            Ewin.confirm({ message: "确认要删除吗？" }).on(function (e) {
                if (!e) {
                    return;
                }
                else {
                    var args = { "tbxAccountChildID": id };
                    $.post("/Account/DelEdit", args, function (result) {
                        if (result === "ok") {
                            toastr.success("操作成功！", "提示");
                            GetFirstTable();
                        }
                        else {
                            console.log(error);
                            toastr.error(error, "提示");
                        }
                    });
                }
            });
        });

        $(document).on("click", ".btnSecondEdit", function () {
            ClearInfo();
            var id = $(this).attr("data-uid");
            $('#SecondModal').modal('show');
            $("#tbxAccountChildSecondID").val(id);
            var args = { "tbxAccountChildID": id };
            $.post("/Account/GetOneEdit", args, function (result) {
                $("#tbxEvaluationPersonNameEdit").val(result.EvaluationPersonName);
                $("#ddlEvaluationPersonDeptEdit").val(result.EvaluationPersonDeptID);
                $("#ddlIsEvaluationDirectorEdit").val(result.IsEvaluationDirector);
                $("#tbxEvaluationCostEdit").val(result.EvaluationCost);
                $("#tbxEvaluationTimeEdit").val(result.EvaluationTime);
            });
        });
        $(document).on("click", ".btnSecondDel", function () {
            var id = $(this).attr("data-uid");
            Ewin.confirm({ message: "确认要删除吗？" }).on(function (e) {
                if (!e) {
                    return;
                }
                else {
                    var args = { "tbxAccountChildID": id };
                    $.post("/Account/DelEdit", args, function (result) {
                        if (result === "ok") {
                            toastr.success("操作成功！", "提示");
                            GetSecondTable();
                        }
                        else {
                            console.log(error);
                            toastr.error(error, "提示");
                        }
                    });
                }
            });
        });

        $(document).on("click", ".btnThirdEdit", function () {
            ClearInfo();
            var id = $(this).attr("data-uid");
            $('#ThirdModal').modal('show');
            $("#tbxAccountChildThirdID").val(id);
            var args = { "tbxAccountChildID": id };
            $.post("/Account/GetOneEdit", args, function (result) {
                $("#tbxTenderFileAuditPersonNameEdit").val(result.TenderFileAuditPersonName);
                $("#ddlTenderFileAuditPersonDeptEdit").val(result.TenderFileAuditPersonDeptID);
                $("#tbxTenderFileAuditCostEdit").val(result.TenderFileAuditCost);
            });
        });
        $(document).on("click", ".btnThirdDel", function () {
            var id = $(this).attr("data-uid");
            Ewin.confirm({ message: "确认要删除吗？" }).on(function (e) {
                if (!e) {
                    return;
                }
                else {
                    var args = { "tbxAccountChildID": id };
                    $.post("/Account/DelEdit", args, function (result) {
                        if (result === "ok") {
                            toastr.success("操作成功！", "提示");
                            GetThirdTable();
                        }
                        else {
                            console.log(error);
                            toastr.error(error, "提示");
                        }
                    });
                }
            });
        });

        $(document).on("click", ".btnFourEdit", function () {
            ClearInfo();
            var id = $(this).attr("data-uid");
            $('#FourModal').modal('show');
            $("#tbxAccountChildFourID").val(id);
            var args = { "tbxAccountChildID": id };
            $.post("/Account/GetOneEdit", args, function (result) {
                $("#tbxClarifyLaunchPersonEdit").val(result.ClarifyLaunchPerson);
                $("#tbxClarifyLaunchDateEdit").val(getJsonDateShort(result.ClarifyLaunchDate));
                $("#tbxClarifyAcceptDateEdit").val(getJsonDateShort(result.ClarifyAcceptDate));
                $("#tbxClarifyDisposePersonEdit").val(result.ClarifyDisposePerson);
                $("#ddlIsClarifyEdit").val(result.IsClarify);
                $("#tbxClarifyReplyDateEdit").val(getJsonDateShort(result.ClarifyReplyDate));
                $("#tbxClarifyReasonEdit").val(result.ClarifyReason);
                $("#tbxClarifyDisposeInfoEdit").val(result.ClarifyDisposeInfo);
                $("#lblClarifyFile").attr("href", result.ClarifyFile).text(result.ClarifyFile);
            });
        });
        $(document).on("click", ".btnFourDel", function () {
            var id = $(this).attr("data-uid");
            Ewin.confirm({ message: "确认要删除吗？" }).on(function (e) {
                if (!e) {
                    return;
                }
                else {
                    var args = { "tbxAccountChildID": id };
                    $.post("/Account/DelEdit", args, function (result) {
                        if (result === "ok") {
                            toastr.success("操作成功！", "提示");
                            GetFourTable();
                        }
                        else {
                            console.log(error);
                            toastr.error(error, "提示");
                        }
                    });
                }
            });
        });

        $(document).on("click", ".btnFiveEdit", function () {
            ClearInfo();
            var id = $(this).attr("data-uid");
            $('#FiveModal').modal('show');
            $("#tbxAccountChildFiveID").val(id);
            var args = { "tbxAccountChildID": id };
            $.post("/Account/GetOneEdit", args, function (result) {
                $("#tbxDissentLaunchPersonEdit").val(result.DissentLaunchPerson);
                $("#tbxDissentLaunchPersonPhoneEdit").val(result.DissentLaunchPersonPhone);
                $("#tbxDissentLaunchDateEdit").val(getJsonDateShort(result.DissentLaunchDate));

                $("#tbxDissentAcceptDateEdit").val(getJsonDateShort(result.DissentAcceptDate));
                $("#tbxDissentAcceptPersonEdit").val(result.DissentAcceptPerson);
                $("#tbxDissentDisposePersonEdit").val(result.DissentDisposePerson);
                $("#tbxDissentReplyDateEdit").val(getJsonDateShort(result.DissentReplyDate));

                $("#tbxDissentReasonEdit").val(result.DissentReason);
                $("#tbxDissentDisposeInfoEdit").val(result.DissentDisposeInfo);
                $("#lblDissentFile").attr("href", result.DissentFile).text(result.DissentFile);
            });
        });
        $(document).on("click", ".btnFiveDel", function () {
            var id = $(this).attr("data-uid");
            Ewin.confirm({ message: "确认要删除吗？" }).on(function (e) {
                if (!e) {
                    return;
                }
                else {
                    var args = { "tbxAccountChildID": id };
                    $.post("/Account/DelEdit", args, function (result) {
                        if (result === "ok") {
                            toastr.success("操作成功！", "提示");
                            GetFiveTable();
                        }
                        else {
                            console.log(error);
                            toastr.error(error, "提示");
                        }
                    });
                }
            });
        });

        $(document).on("click", ".btnConnectEdit", function () {
            ClearInfo();
            var id = $(this).attr("data-uid");
            $('#ConnectModal').modal('show');
            $("#tbxAccountChildConnectID").val(id);
            var args = { "tbxAccountChildID": id };
            $.post("/Account/GetOneEdit", args, function (result) {
                $("#tbxConnectPersonEdit").val(result.ConnectPerson);
                $("#tbxConnectDateTimeEdit").val(getJsonDateShort(result.ConnectDateTime));
                $("#tbxConnectContentEdit").val(result.ConnectContent);
                $("#tbxConnectExistingProblemsEdit").val(result.ConnectExistingProblems);
            });
        });
        $(document).on("click", ".btnConnectDel", function () {
            var id = $(this).attr("data-uid");
            Ewin.confirm({ message: "确认要删除吗？" }).on(function (e) {
                if (!e) {
                    return;
                }
                else {
                    var args = { "tbxAccountChildID": id };
                    $.post("/Account/DelEdit", args, function (result) {
                        if (result === "ok") {
                            toastr.success("操作成功！", "提示");
                            GetConnectTable();
                        }
                        else {
                            console.log(error);
                            toastr.error(error, "提示");
                        }
                    });
                }
            });
        });

        $(document).on("click", ".btnDeptEdit", function () {
            ClearInfo();
            var id = $(this).attr("data-uid");
            $('#DeptModal').modal('show');
            $("#tbxAccountChildDeptID").val(id);
            var args = { "tbxAccountChildID": id };
            $.post("/Account/GetOneEdit", args, function (result) {
                $("#ddlUsingDeptEdit").val(result.UsingDeptID);
            });
        });
        $(document).on("click", ".btnDeptDel", function () {
            var id = $(this).attr("data-uid");
            Ewin.confirm({ message: "确认要删除吗？" }).on(function (e) {
                if (!e) {
                    return;
                }
                else {
                    var args = { "tbxAccountChildID": id };
                    $.post("/Account/DelEdit", args, function (result) {
                        if (result === "ok") {
                            toastr.success("操作成功！", "提示");
                            GetDeptTable();
                        }
                        else {
                            console.log(error);
                            toastr.error(error, "提示");
                        }
                    });
                }
            });
        });

        $(document).on("click", ".btnTenderSuccessEdit", function () {
            ClearInfo();
            var id = $(this).attr("data-uid");
            $('#TenderSuccessModal').modal('show');
            $("#tbxAccountChildTenderSuccessID").val(id);
            var args = { "tbxAccountChildID": id };
            $.post("/Account/GetOneEdit", args, function (result) {
                $("#tbxTenderSuccessPersonEdit").val(result.TenderSuccessPerson);
                $("#tbxTenderSuccessPersonStartDateEdit").val(getJsonDateShort(result.TenderSuccessPersonStartDate));
                $("#tbxTenderSuccessPersonEndDateEdit").val(getJsonDateShort(result.TenderSuccessPersonEndDate));
            });
        });
        $(document).on("click", ".btnTenderSuccessDel", function () {
            var id = $(this).attr("data-uid");
            Ewin.confirm({ message: "确认要删除吗？" }).on(function (e) {
                if (!e) {
                    return;
                }
                else {
                    var args = { "tbxAccountChildID": id };
                    $.post("/Account/DelEdit", args, function (result) {
                        if (result === "ok") {
                            toastr.success("操作成功！", "提示");
                            GetTenderSuccessTable();
                        }
                        else {
                            console.log(error);
                            toastr.error(error, "提示");
                        }
                    });
                }
            });
        });

        //对editAccountForm表单进行前端验证
        var editAccountForm = $("#EditAccountForm").validate({
            rules: {
                tbxApplyPersonEdit: { required: true, maxlength: 50 },//申请人
                tbxTenderRangeEdit: { required: true },//招标范围
                tbxSupplyPeriodEdit: { required: true },//供货期
                tbxProgramAcceptDateEdit: { required: true },//收到方案日期
                tbxTenderFileSaleStartDateEdit: { required: true },//发售招标文件开始日期
                tbxTenderFileSaleEndDateEdit: { required: true },//发售招标文件截止日期
                tbxTenderStartDateEdit: { required: true },//开标日期
                tbxPlanInvestPriceEdit: { required: true },//预计投资（万元）
                tbxTenderRestrictUnitPriceEdit: { required: true },//招标控制--单价
                tbxTenderRestrictSumPriceEdit: { required: true },//招标控制--总价
                tbxTenderFailReasonEdit: { required: true }//招标失败原因
            }
        });

        $("#btnSave").click(function () {
            var usingDeptEditVal = $("#ddlUsingDeptEdit").val();
            var projectResponsibleDeptEditVal = $("#ddlProjectResponsibleDeptEdit").val();

            if (usingDeptEditVal === null || projectResponsibleDeptEditVal === null) {
                toastr.error("使用单位、项目主责部门必须填写！", "提示");
            }
            else {
                Ewin.confirm({ message: "确定要保存吗？" }).on(function (e) {
                    if (!e) {
                        return;
                    }
                    else {
                        $("#EditAccountForm").ajaxSubmit({
                            url: "/Account/Update",
                            type: "post",
                            success: function (result) {
                                if (result === "ok") {
                                    toastr.success("操作成功！", "提示");
                                    BackView();
                                }
                            },
                            error: function (error) {
                                toastr.error(error, "提示");
                                return;
                            }
                        });
                    }
                });
            }
        });

        $("#btnSubmit").click(function () {
            var tenderInfoEdit = $("#ddlTenderInfoEdit").val();
            var projectResponsibleDeptEditVal = $("#ddlProjectResponsibleDeptEdit").val();

            if (tenderInfoEdit === null || projectResponsibleDeptEditVal === null) {
                toastr.error("招标情况、项目主责部门必须填写！", "提示");
            }
            else {
                if (editAccountForm.form()) {
                    Ewin.confirm({ message: "确定要提交吗？" }).on(function (e) {
                        if (!e) {
                            return;
                        }
                        else {
                            $("#EditAccountForm").ajaxSubmit({
                                url: "/Account/CompeletSubmit",
                                type: "post",
                                success: function (result) {
                                    if (result === "ok") {
                                        toastr.success("操作成功！", "提示");
                                        BackView();
                                    }
                                },
                                error: function (error) {
                                    toastr.error(error, "提示");
                                    return;
                                }
                            });
                        }
                    });
                }
            }
        });

        $("#btnReturn").click(function () {
            BackView();
        });

        $("#btnDel").click(function () {
            Ewin.confirm({ message: "确定要删除吗？" }).on(function (e) {
                if (!e) {
                    return;
                }
                else {
                    $.post("/Account/Del", { id: $("#tbxAccountIDEdit").val() }, function (result) {
                        if (result == "ok") {
                            toastr.success("操作成功！", "提示");
                            BackView();
                        }
                        else {
                            toastr.error(error, "提示");
                        }
                    });
                }
            });
        });

        $("#btnInsertVersion").click(function () {
            Ewin.confirm({ message: "确定要进行评标复议吗？" }).on(function (e) {
                if (!e) {
                    return;
                }
                else {
                    $.post("/Account/InsertVersion", { id: $("#tbxAccountIDEdit").val() }, function (result) {
                        if (result == "ok") {
                            toastr.success("操作成功！", "提示");
                            window.location.reload();
                        }
                        else {
                            toastr.error(error, "提示");
                        }
                    });
                }
            });
        });

        function BackView() {
            var tenderInfo = unescape(getQueryString("tenderInfo"));//招标情况
            var projectName = unescape(getQueryString("projectName"));//项目名称
            var tenderFileNum = unescape(getQueryString("tenderFileNum"));//项目文件编号
            var applyPerson = unescape(getQueryString("applyPerson"));//申请人
            var tenderSuccessPerson = unescape(getQueryString("tenderSuccessPerson"));//中标人名称

            var projectResponsiblePerson = getQueryString("projectResponsiblePerson");//招标项目负责人ID

            var planInvestPriceStart = getQueryString("planInvestPriceStart");//预计投资范围--数字
            var planInvestPriceEnd = getQueryString("planInvestPriceEnd");

            var tenderStartDateStart = getQueryString("tenderStartDateStart");//开标日期范围--日期
            var tenderStartDateEnd = getQueryString("tenderStartDateEnd");

            var offSet = getQueryString("offSet");//页码
            var limit = getQueryString("limit");//页面大小

            window.location.href = "/Account/Material?offSet=" + offSet +
                "&limit=" + limit +
                "&projectResponsiblePerson=" + projectResponsiblePerson +
                "&planInvestPriceStart=" + planInvestPriceStart +
                "&planInvestPriceEnd=" + planInvestPriceEnd +
                "&tenderStartDateStart=" + tenderStartDateStart +
                "&tenderStartDateEnd=" + tenderStartDateEnd +

                "&tenderFileNum=" + escape(tenderFileNum) +
                "&applyPerson=" + escape(applyPerson) +
                "&tenderSuccessPerson=" + escape(tenderSuccessPerson) +
                "&tenderInfo=" + escape(tenderInfo) +
                "&projectName=" + escape(projectName);
        }

        function GetInfo() {
            var accountID = $("#tbxAccountIDEdit").val();
            $.post("/Account/GetOne", { "accountID": accountID }, function (result) {
                $("#tbxProjectNameEdit").val(result.ProjectName);
                $("#tbxTenderFileNumEdit").val(result.TenderFileNum);
                $("#ddlIsOnlineEdit").val(result.IsOnline);
                $("#tbxProjectResponsiblePersonEdit").val(result.ProjectResponsiblePersonName);

                $("#ddlUsingDeptEdit").val(result.UsingDeptID);
                $("#ddlProjectResponsibleDeptEdit").val(result.ProjectResponsibleDeptID);
                $("#tbxApplyPersonEdit").val(result.ApplyPerson);
                $("#tbxInvestPlanApproveNumEdit").val(result.InvestPlanApproveNum);

                $("#tbxTenderRangeEdit").val(result.TenderRange);
                $("#ddlTenderModeEdit").val(result.TenderMode);
                $("#ddlBidEvaluationEdit").val(result.BidEvaluation);
                $("#tbxSupplyPeriodEdit").val(result.SupplyPeriod);

                $("#tbxTenderProgramAuditDateEdit").val(getJsonDateShort(result.TenderProgramAuditDate));
                $("#tbxProgramAcceptDateEdit").val(getJsonDateShort(result.ProgramAcceptDate));
                $("#tbxTenderFileSaleStartDateEdit").val(getJsonDateTimeMinute(result.TenderFileSaleStartDate));
                $("#tbxTenderFileSaleEndDateEdit").val(getJsonDateTimeMinute(result.TenderFileSaleEndDate));
                $("#tbxTenderStartDateEdit").val(getJsonDateTimeMinute(result.TenderStartDate));


                $("#tbxTenderSuccessPersonEdit").val(result.TenderSuccessPerson);
                $("#tbxPlanInvestPriceEdit").val(result.PlanInvestPrice);
                $("#tbxTenderRestrictUnitPriceEdit").val(result.TenderRestrictUnitPrice);
                $("#tbxTenderRestrictSumPriceEdit").val(result.TenderRestrictSumPrice);

                $("#tbxTenderSuccessUnitPriceEdit").val(result.TenderSuccessUnitPrice);
                $("#tbxTenderSuccessSumPriceEdit").val(result.TenderSuccessSumPrice);
                $("#tbxSaveCapitalEdit").val(result.SaveCapital);
                if (result.QualificationExamMethod !== null) {
                    $("#ddlQualificationExamMethod").val(result.QualificationExamMethod);
                }

                $("#tbxTenderFileAuditTimeEdit").val(result.TenderFileAuditTime);
                $("#tbxTenderFailReasonEdit").val(result.TenderFailReason);

                $("#tbxContractNumEdit").val(result.ContractNum);
                $("#tbxContractPriceEdit").val(result.ContractPrice);
                $("#tbxRelativePersonEdit").val(result.RelativePerson);
                $("#ddlTenderInfoEdit").val(result.TenderInfo);

                $("#tbxTenderRemarkEdit").val(result.TenderRemark);
            });
        }
    });
</script>

